body{
    display: felx;
    margin: auto;
    background-color: #ffffff;
}


header{
    background-color: #f73a3a;
    margin: auto;
    border-bottom: 2px solid rgb(0, 0, 0);
    
    

}


footer{
    margin: auto;
    display: block;
    justify-content: left;
    background-color: #8a8989;
    border-top: 2px solid rgb(0, 0, 0); 
    margin-top: 0px;
    padding-right: auto;
}

#carouselle{
    width: 640px;
    overflow: hidden;
    border: 2px solid #333;
    object-fit: cover;
}

.images {
   
    display: flex;
     animation-duration: 10s;
 animation-name: mesimages;
 animation-iteration-count: infinite;
}

@media (max-width: 800px) {
    device-height 

}

@keyframes mesimages {
    0%{
        transform: translateX(0); 
    }
  25%{
        transform: translateX(-640px);
    }
}
    /*
    50%{
        transform: translateX(-1250px);
    }
    75%{
        transform: translateX(-1250px);
    }
    100%{
        transform: translateX(-1250px);
    }
 
}
*/